<mat-card>
  <mat-card-title>Editar Produto</mat-card-title>

  <form>
    <mat-form-field>
      <input
        matInput
        name="name"
        placeholder="Nome do prouduto"
        [(ngModel)]="product.name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="price"
        placeholder="Preço (R$)"
        [(ngModel)]="product.price"
      />
    </mat-form-field>
  </form>

  <div>
    <button mat-raised-button color="primary" (click)="updateProdutc()">
      Salvar
    </button>

    <button mat-raised-button color="danger" (click)="cancelar()">
      Cancelar
    </button>
  </div>
</mat-card>
